abc_atlas_access @ git+https://github.com/alleninstitute/abc_atlas_access.git@b1471011f4dfa9426d9f4f8f8ae006ff81cd852d
altgraph @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
anndata==0.10.9
annotated-types==0.7.0
array_api_compat==1.11.2
asttokens==3.0.1
attrs==25.4.0
boto3==1.42.67
botocore==1.42.67
brotli==1.2.0
cachetools==6.2.6
caveclient==8.0.1
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.1.8
cloud-files==6.2.2
cloud_volume==12.12.0
compressed_segmentation==2.3.3
contourpy==1.3.0
crc32c==2.8
cryptography==46.0.5
cycler==0.12.1
Cython==3.2.3
decorator==5.2.1
deflate==0.8.1
defusedxml==0.7.1
Deprecated==1.3.1
dill==0.4.1
DracoPy==1.7.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
executing==2.2.1
fasteners==0.20
fastremap==1.17.7
filelock==3.19.1
fonttools==4.60.1
fpdf2==2.8.4
fsspec==2025.10.0
future @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gevent==25.9.1
google-api-core==2.30.0
google-auth==2.49.1
google-cloud-core==2.5.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.73.0
greenlet==3.2.5
h5py==3.14.0
hopcroftkarp==1.2.5
idna==3.11
importlib_metadata==8.7.1
importlib_resources==6.5.2
inflection==0.5.1
iniconfig==2.1.0
intervaltree==3.2.1
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.2
json5==0.13.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.7
llvmlite==0.43.0
lxml==6.0.2
macholib @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.9
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.2.1
microviewer==1.20.0
more-itertools==10.8.0
mpmath==1.3.0
multiprocess==0.70.19
natsort==8.4.0
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
openai-whisper==20240930
openpyxl==3.1.5
orjson==3.11.5
osteoid==0.6.0
packaging==25.0
pandas==2.3.3
parso==0.8.6
pathos==0.3.5
patsy==1.0.2
pdfminer.six==20251107
pdfplumber==0.11.8
persim==0.3.8
pexpect==4.9.0
pillow==11.3.0
pluggy==1.6.0
posix_ipc==1.3.2
pox==0.3.7
ppft==1.7.8
prompt_toolkit==3.0.52
proto-plus==1.27.1
protobuf==6.33.5
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==21.0.0
pyasn1==0.6.2
pyasn1_modules==0.4.2
pybind11==3.0.2
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.2.5
pypdfium2==5.6.0
pysimdjson==7.0.2
pytest==8.4.2
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-jsonschema-objects==0.5.7
pytz==2025.2
referencing==0.36.2
regex==2025.11.3
requests==2.32.5
ripser==0.6.14
rpds-py==0.27.1
rsa==4.9.1
s3transfer==0.16.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
simplejpeg==1.9.0
six @ file:///AppleInternal/Library/BuildRoots/4~CDlvugAeMYaHcTWIELyAQ2joHAecmlI0GAlKPsw/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
sortedcontainers==2.4.0
stack-data==0.6.3
statsmodels==0.14.6
sympy==1.14.0
tenacity==9.1.2
threadpoolctl==3.6.0
tiktoken==0.12.0
tomli==2.4.0
torch==2.8.0
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
UNKNOWN @ file:///Users/prethamsai/research/neurostat
urllib3==1.26.20
wcwidth==0.6.0
wrapt==2.0.1
zipp==3.23.0
zope.event==6.0
zope.interface==8.0.1
zstandard==0.25.0
